@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 100%; }

img {
  object-fit: cover; }

header {
  position: relative;
  background-color: black;
  background-image: url("/src/assets/img/planners.jpg");
  height: auto;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.729);
  z-index: 1; }

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

header .container {
  position: relative;
  z-index: 2; }

.wrapper {
  margin: 10vh; }

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2); }
  @media (max-width: 768px) {
    .card {
      min-height: 350px; } }
  @media (max-width: 420px) {
    .card {
      min-height: 300px; } }
  .card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center; }
    .card.card-has-bg:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%); }
    .card.card-has-bg:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
      .card.card-has-bg:hover .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: #234f6d;
        background: linear-gradient(0deg, rgba(162, 132, 71, 0.376) 0%, rgba(29, 25, 10, 0.643) 100%); }
  .card .card-footer {
    background: none;
    border-top: none; }
    .card .card-footer .media img {
      border: solid 3px rgba(255, 255, 255, 0.3); }
  .card .card-meta {
    color: #26bd75; }
  .card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
  .card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1); }
    .card:hover .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1); }
  .card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #ebb93b;
    background: linear-gradient(0deg, rgba(227, 186, 104, 0.376) 0%, rgba(53, 45, 18, 0.643) 100%); }

footer {
  -webkit-box-shadow: 1px 0px 20px 3px rgba(0, 0, 0, 0.22);
  box-shadow: 1px 0px 20px 3px rgba(0, 0, 0, 0.22); }

.loader__img {
  width: 200px;
  height: 200px; }

.loader__img img {
  width: 100%; }

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000e9;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  transition: all 1s ease-in;
  animation: loader 2s alternate forwards; }

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px; }

.loader-text {
  color: #fff;
  font-family: arial, sans-serif; }

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite; }

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible; }
  97% {
    opacity: 1;
    visibility: visible;
    transition: all 2s ease; }
  100% {
    opacity: 0;
    transition: all 2s ease; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes load {
  0% {
    content: 'Loading'; }
  33% {
    content: 'Loading.'; }
  67% {
    content: 'Loading..'; }
  100% {
    content: 'Loading...'; } }
