@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

iframe {
  width: 100%;
  height: 22rem;
}

i {
  margin-right: 0.3rem;
}

a,
i {
  text-decoration: none;
  color: #ddc5b0;
  font-size: 18px;
  &:hover {
    transition: all 0.4s ease;
    color: #adaaaae9;
  }
}

li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

h1 {
  color: #f4e7da;
  font-weight: 400;
}

.cart-nav {
  position: fixed;
  height: 100%;
  width: 375px;
  right: -375px;
  top: 0;
  background-color: #fff;
  z-index: 3;
  transition: 0.2s;
}

.bi-x-lg{
  color: #09311e;
  font-size: 28px;
}

header {
  position: relative;
  background-color: rgb(0, 0, 0);
  background-image: url("/src/assets/img/planners.jpg");
  height: auto;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.729);
  z-index: 1;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header {
  .header__cart-li {
    padding: 0.4rem;
    margin-left: 0.4rem;
    border: 1px solid #ddc5b0;
    color: #ddc5b0;

    &.header__cart-li span {
      border-left: 1px solid #ddc5b0;
      padding-left: 0.4rem;
    }
  }
}

.header nav {
  display: flex;
  justify-content: end;
  align-items: center;
}

header .container {
  position: relative;
  z-index: 2;
}

.spacing-carrito{
  margin-left: 1rem;
  a{
    background-color: #25d366;
    color: white;
    i{
      color: white;
    }
  }
}

.logo-header {
  width: 100px;
  height: 100px;
}
.logo-header img {
  width: 100%;
}

.text-start {
  font-size: 20px;
}
.container__text {
  height: 80vh;
}

@media (max-width: 868px) {
  .container__text {
    height: auto;
    padding-bottom: 4rem;
  }
}

.container-flex{
  display: flex;
}

//card-----------------
.wrapper {
  margin: 10vh;
}
//post card styles

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    min-height: 350px;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35, 79, 109);
        background: linear-gradient(
          0deg,
          rgba(162, 132, 71, 0.376) 0%,
          rgba(29, 25, 10, 0.643) 100%
        );
      }
    }
  }
  .card-footer {
    background: none;
    border-top: none;
    .media {
      img {
        border: solid 3px rgba(255, 255, 255, 0.3);
      }
    }
  }
  .card-meta {
    color: #26bd75;
  }
  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(235, 185, 59);
    background: linear-gradient(
      0deg,
      rgba(227, 186, 104, 0.376) 0%,
      rgba(53, 45, 18, 0.643) 100%
    );
  }
}

footer {
  -webkit-box-shadow: 1px 0px 20px 3px rgba(0, 0, 0, 0.22);
  box-shadow: 1px 0px 20px 3px rgba(0, 0, 0, 0.22);
}

//estilos boton whatsapp
.container__btn-whatsapp {
  background-color: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 4;
  border: solid 2px #09311e;
  .fa-whatsapp {
    color: #fff;
    font-size: 2rem;
    margin-left: 0.2rem;
  }
}

.container__btn-whatsapp {
  color: #fff;
  -webkit-animation: pulse 1.5s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

//modal
.modal-content--content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.modal-producto {
  height: 50vh;
}

.modal-title {
  color: rgb(12, 12, 12);
}

.bg-sale {
  background-color: #25d366;
  color: #fff;
  width: 3rem;
}

.btn-carrito {
  background-color: rgb(54, 54, 254);
  padding: 0.7rem;
  color: whitesmoke;
  width: 10rem;
  border-radius: 0.3rem;
}
